<div class="container">

  <app-header 
    [title]="title" 
    [apiStatus]="apiStatus">
  </app-header>


  <main class="main-content">
    
    <!-- Calculator Component -->
    <app-calculator 
      (resultCalculated)="onResultCalculated($event)">
    </app-calculator>

    <!-- History Component -->
    @if (history.length > 0) {
      <app-history 
        [history]="history"
        [showChart]="showChart"
        (clearHistoryEvent)="onClearHistory()"
        (loadFromHistoryEvent)="onLoadFromHistory($event)"
        (toggleChartEvent)="onToggleChart()">
      </app-history>

      <!-- Chart Component -->
      @if (showChart) {
        <app-sequence-chart [history]="history"></app-sequence-chart>
      }
    }

  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>Yanis Marina Faquir</p>
    <a href="http://localhost:8080/swagger-ui/" target="_blank" class="swagger-link">
      📖 View API Documentation
    </a>
  </footer>
</div>